<section class="row">
    <section class="col-md-12">
        <form class="form-horizontal">
            <h3 class="text-center">CREATE A NEW SANTHI BLOG</h3>
            <section class="col-md-12">
                <div class="alert alert-success col-md-12" ng-hide="!successAlert">
                    <strong>{{successAlert}} </strong> <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </section>
            <section class="col-md-12 text-center">
                <section class="form-group">
                    <label class="control-label col-md-3">Title :</label>
                    <section class="col-md-6">
                        <input class="form-control" ng-model="santhiBlog.title" />
                    </section>
                </section>
                <section class="form-group">
                    <label class="control-label col-md-3">Tag :</label>
                    <section class="col-md-6">
                        <input class="form-control" ng-model="santhiBlog.highlightText" />
                    </section>
                </section>
                <section class="form-group">
                    <label class="control-label col-md-3">Author :</label>
                    <section class="col-md-6">
                        <input class="form-control" ng-model="santhiBlog.author" />
                    </section>
                </section>
                <section class="form-group">
                    <label class="control-label col-md-3">Content :</label>
                    <section class="col-md-6">
                        <div id="santhiBlogDescription"></div>
                    </section>
                </section>
                <section class="form-group">
                    <label class="control-label col-md-3">Image :</label>
                    <section class="col-md-3">
                        <input type="file" class="form-control" file-model="santhiBlog.image" />
                    </section>
                </section>
                <section class="form-group">
                    <button type="submit" class="btn btn-info" ng-click="savesanthiBlog(santhiBlog)" ng-if="!isEditSanthi">Save Blog</button>
                    <button type="submit" class="btn btn-info" ng-click="updateSanthiBlog(santhiBlog)" ng-if="isEditSanthi">Update Blog</button>
                </section>
            </section>
        </form>


<section ng-if="shanthi.blogs.length">  
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>  
        <th scope="col">Image</td>
        <th scope="col">Title</td>
        <th scope="col">Highlight</td>
        <th scope="col">Action</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="blog in shanthi.blogs">
        <td style="float: left;"><img style="width: 200px; float: left; height: 100px;" src="{{blog.image || blog.thumbnailSrc}}" alt="Yoga" onerror="this.onerror=null;this.src='../Content/img/soslogo.png'"/></td>
        <td>{{blog.title}}</td>
        <td>{{ blog.slicedDesc || blog.highlightText }}<a class="readmore" href="/#/santhi/{{blog.id}}">Read more...</a></td>
        <td class="jsgrid">
            <input class="jsgrid-button jsgrid-edit-button edit-news" ng-click="editSanthiBlog(blog.id)" type="button" title="Edit">
            <input class="jsgrid-button jsgrid-delete-button delete-news" ng-click="deleteSanthiBlogs(blog.id)" type="button" title="Delete">
        </td>
      </tr>
    </tbody>
  </table>
</section>

    </section>
</section>