<section class="col-md-12" id="newsForm" ng-controller="newsAddController">        
        <section class="col-md-12">            
         <div id="newsGrid"></div>
        </section>
        <div id="dialog" title="Image Full Size View">
                <img id="imagePreview" />
            </div>
    </section>
    
    <script>
        var MyDateField = function(config) {
        jsGrid.Field.call(this, config);
    };
     
    MyDateField.prototype = new jsGrid.Field({
     
        css: "date-field",            // redefine general property 'css'
        align: "center",              // redefine general property 'align'
     
        myCustomProperty: "foo",      // custom property
     
        sorter: function(date1, date2) {
            return new Date(date1) - new Date(date2);
        },
     
        itemTemplate: function(value) {
            return new Date(value).toDateString();
        },
    });
     
    jsGrid.fields.date = MyDateField;
     $.ajax({
                type: "GET",
                url: '/api/news/getAll'
            }).then(function(data){
                console.log(data)
                
        $("#newsGrid").jsGrid({
            width: "100%",
            sorting: true,
            paging: true,
            filtering :true,
            autoload: false,
            pageSize: 5,
            editing:true,
            data: data,
             deleteConfirm: function(item) {
                return "The news titled \"" + item.title + "\" will be removed. Are you sure?";
            },
            onItemEditing: function(args) {
               $('#newsForm').scope().editNewsForm(args.item.id);
        },
            controller:{
                loadData: function(filter) {
                return $.grep(data, function(news) {
                    return (!filter.title || news.title.toLowerCase().indexOf(filter.title.toLowerCase()) > -1)
                        && (!filter.slicedDesc || news.slicedDesc.toLowerCase().indexOf(filter.slicedDesc.toLowerCase()) > -1)
                        && (!filter.description || news.description.toLowerCase().indexOf(filter.description.toLowerCase()) > -1) ;
                });
            },
            deleteItem: function(item) {
                    // debugger;
            return $.ajax({
                type: "DELETE",
                url: "/api/news/delete",
                data:{ "id":item.id}
            });
        }},
            fields: [
            { name: "title", type: "text",title:"Title", width: 50 },
            { name: "slicedDesc", type: "text",title:"Highlight", width: 70 },
            { name: "description", type: "text",title:"Description", width: 150 },
                { 
                    type: "control",
                    headerTemplate: function() {
                    var grid = this._grid;    
                    var $button = $("<a>").attr("role", "button").attr("href", "/settings/#/create/news/add").attr("title","Add new Event")
                        .addClass([this.buttonClass, this.modeButtonClass, this.insertModeButtonClass, "btn btn-info"].join(" "));
                    return $button;
                }
                }
            ]
        });
     });
     
    </script>
     