<div id="fb-root"></div>
<script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) window.location.reload();
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=111410849575332";
   fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<section class="container-fluid">
	<section class="row form-horizontal" >
	   <section class="col-md-9">
	      <img class="img" ng-src="{{details.thumbnailSrc || details.imageSrc}}" alt="" onerror=""/>
	      <div class="cntarea">
	      	<h1 class="headmain">
	      		{{details.title}}
	      		<small></small>
	      	</h1>
	      	<ul>
	      		<li>
                     <p ng-bind-html="details.description || details.content | to_trusted"></p>
	      		</li>
	      	</ul>
	      </div>
	   </section>
	   <section class="col-md-3 text-center">
	      <!-- <h1 class="heading">{{ details.title }}</h1> -->
	      <aside class="searchbx">
            <form class="search">
                <input type="text" name="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default"><img src="../Content/img/magnifier.png" alt="" /></button>
            </form>
        </aside>
        <aside class="listing">
        	<h2 class="heading">Popular Post</h2>
        	<ul>
        		<li>
        			<a href="">Workshop and Spiritual Retreats</a>
        		</li>
        		<li>
        			<a href="">Satsang</a>
        		</li>
        		<li>
        			<a href="">Teacher Training Course</a>
        		</li>
        		<li>
        			<a href="">Satsang</a>
        		</li>
        	</ul>
        </aside>
        <aside class="youtube">
            <!-- <h3>Enlightment without action</h3> -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uAqMsWaVSIY" allowfullscreen></iframe>
            </div>
        </aside>
        <aside class="socialmedia">
            <a href=""><img src="../Content/img/fb.png" alt="facebook"></a>
            <a href=""><img src="../Content/img/linkedin.png" alt="linkedin"></a>
            <a href=""><img src="../Content/img/twitter.jpg" alt="twitter"></a>
            <a href=""><img src="../Content/img/youtube.jpg" alt="youtube"></a>
        </aside>
        <aside class="popular-posts">
            <h3 class="heading">Programs</h3>
            <p ng-if="!events.length">No posts to display</p>
             <div ng-if="events.length" class="list-group">
                    <a ng-repeat="event in events" href="/#/event/{{event.id}}" class="list-group-item no-padding text-left">
                        <section class="list-group-item-text">
                            <div class="input-group">
                                <span class="input-group-addon no-padding event-date" id="sizing-addon1">
                                    <section class="date-section">
                                        <span class="font-2">{{event.startDay}}</span>
                                        <br>
                                        <span class="font-month">{{event.startMonth}} '{{event.startYear}}</span>
                                    </section>
                                </span>
                                <section class="col-md-12 ml-8">
                                    <span class="event-title">{{event.slicedName}} ..</span>
                                    <br>
                                    <span class="event-text">{{event.slicedDesc}} ...</span>
                                </section>
                            </div>
                        </section>
                    </a>
                </div>
        </aside>
	   </section>
	   <!-- <section class="col-md-12 mt-10">
	      <p ng-bind-html="details.description | to_trusted"></p>
	   </section> -->
	</section>   
</section>
