<section class="col-md-9 pt-10 mt-20">
   
  <ul class="nav nav-tabs nav-justified ml-10">
  <li role="presentation" class="active"><a data-target="#events" data-toggle="tab">Events</a></li>
  <li role="presentation" data-toggle="tab"><a data-target="#profile" data-toggle="tab">Blogs</a></li>
  <li role="presentation" data-toggle="tab"><a data-target="#yoga" data-toggle="tab">Know Yoga</a></li>
</ul>
        </section>
  
 <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="events"><section class="col-md-12" ng-include="'/views/events1.html'"></section></div>
    <div role="tabpanel" class="tab-pane" id="profile">profile</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>