<section class="row no-gutter mt-10">
    <section class="col-md-3 text-center logo">
        <section class="col-md-3">
            <img href="#" src="/Content/img/school%20of%20santhi.png">
        </section>
        <section class=" col-md-8 logo-text text-left">
            <section class="sos-logo-text">school of santhi</section>
            <section class="font-12">Traditional Yoga School</section>
        </section>
        <div class="col-md-11">
            <button type="button" class="btn btnlogout btn-warning pull-right" ng-click="logout();">Logout</button>
        </div>
    </section>
</section>
<ul class="nav nav-tabs">
    <li ui-sref-active="active">
        <a data-toggle="tab" ui-sref="settings.events">Events</a>
    </li>
    <li ui-sref-active="active">
        <a data-toggle="tab" ui-sref="settings.news">News</a>
    </li>
    <li ui-sref-active="active">
        <a data-toggle="tab" ui-sref="settings.yoga">Know Yoga</a>
    </li>
    <li ui-sref-active="active">
        <a data-toggle="tab" ui-sref="settings.santhi">Santhi Speaks</a>
    </li>
    <li ui-sref-active="active">
        <a data-toggle="tab" ui-sref="settings.general">General Settings</a>
    </li>
</ul>