<section class="col-md-12 pt-10 mt-20">
    <div class="row">
      <div class="col-md-11">
        <button type="button" class="btn logout btn-warning pull-right" ng-click="logout();">Logout</button> 
      </div>
    </div>
    <hr />

    <ul class="nav nav-tabs nav-justified ml-10">
    <li role="presentation" ui-route="/tab1" ng-class="{active: $uiRoute}"><a href="#/tab1">Events</a></li>
    <li role="presentation" ui-route="/tab1" ng-class="{active: $uiRoute}"><a href="#/tab2">NEWS</a></li>
    <li role="presentation" ui-route="/tab1" ng-class="{active: $uiRoute}"><a href="#/tab3">Know Yoga</a></li>
    <li role="presentation" ui-route="/tab1" ng-class="{active: $uiRoute}"><a href="#/tab4">Shanthi Speaks</a></li>
  </ul>

  <div ng-view=""></div>
  </section>
    
