<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="app/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="app/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="app/img/favicon-16x16.png">
    <link rel="manifest" href="app/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="app/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

  <link type="text/css" rel="stylesheet" href="app/css/libs/bootstrap.css" />
  <link type="text/css" rel="stylesheet" href="app/css/libs/bootstrap-select.css" />
  <link type="text/css" rel="stylesheet" href="app/css/main.css" />
  <link type="text/css" rel="stylesheet" href="app/css/libs/bootstrap-datetimepicker.min.css" />
  <link type="text/css" rel="stylesheet" href="app/css/libs/fullcalendar.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" />
  <link type="text/css" rel="stylesheet" href="app/css/libs/jsgrid.css" />
  <link type="text/css" rel="stylesheet" href="app/css/libs/jsgrid-theme.css" />
  <link type="text/css" rel="stylesheet" href="app/css/libs/bootstrap-social.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="app/js/libs/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
  <script src="app/js/libs/angular-ui-router.js"></script>
  <script src="app/js/libs/ui-bootstrap.tpls.min.js"></script>

  <script src="app/js/libs/moment.min.js"></script>
  <script src="app/js/libs/fullcalendar.min.js"></script>
  <script src="app/js/libs/gcal.min.js"></script>
  <script src="app/js/libs/calendar.js"></script>
  <script src="app/js/libs/ui-bootstrap.tpls.min.js"></script>
  <script src="app/js/libs/bootstrap-datetimepicker.js"></script>

  <script src="app/js/libs/underscore-min.js"></script>
  <script src="app.module.js"></script>
  <script src="app.routes.js"></script>
  <script src="app.run.js"></script>
  <script src="app/services/directive.js"></script>
  <script src="app/services/coreService.js"></script>

  <script src="app/js/eventsController.js"></script>
  <script src="app/js/addEventsController.js"></script>
  <script src="app/js/settingsCtrl.js"></script>
  <script src="app/js/newsCtrl.js"></script>
  <script src="app/js/yogaCtrl.js"></script>
  <script src="app/js/santhiCtrl.js"></script>
  <script src="app/js/generalCtrl.js"></script>
  <script src="app/js/yogaBlogAddCtrl.js"></script>
  <script src="app/js/santhiBlogAddCtrl.js"></script>
  <script src="app/js/newsAddCtrl.js"></script>

</head>

<body ng-app="settingsApp">

  <header ui-view="header" class="header" ng-controller="Header_Ctrl" ng-if="!subState">
    <section class="row no-gutter mt-10">
      <section class="col-md-3 text-center logo">
        <section class="col-md-3">
          <img href="#" src="/Content/img/school%20of%20santhi.png">
        </section>
        <section class=" col-md-8 logo-text text-left">
          <section class="sos-logo-text">school of santhi</section>
          <section class="font-12">Traditional Yoga School</section>
        </section>
        <div class="col-md-11">
          <button type="button" class="btn btnlogout btn-warning pull-right" ng-click="logout();">Logout</button>
        </div>
      </section>
    </section>
    <ul class="nav nav-tabs">
      <li ui-sref-active="active">
        <a data-toggle="tab" data-href="/events" ui-sref="events">Events</a>
      </li>
      <li ui-sref-active="active">
        <a data-toggle="tab" data-href="/news" ui-sref="news">News</a>
      </li>
      <li ui-sref-active="active">
        <a data-toggle="tab" data-href="/yoga" ui-sref="yoga">Know Yoga</a>
      </li>
      <li ui-sref-active="active">
        <a data-toggle="tab" data-href="/santhi" ui-sref="santhi">Santhi Speaks</a>
      </li>
      <li ui-sref-active="active">
        <a data-toggle="tab" data-href="/general" ui-sref="general">General Settings</a>
      </li>
    </ul>
  </header>
  <div ui-view="content" ng-class="{'sub-state': subState, 'events': stateName=='events', 'news': stateName=='news', 'yoga': stateName=='yoga', 'santhi': stateName=='santhi', 'general': stateName=='general'}" class="ui-content"></div>
</body>

</html>